// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
  margin: 0;
  padding: 0;
}
.mid
{
  height: 450px;
  width: 1000px;
  margin-left: 120px;
  margin-top: 20px;
  background-color: rgb(245, 245, 245);
  padding-left: 40px;
  padding-top: 40px;
}
h1
{
  font-size: 70px;
  color: lightgray;
}
p
{
  font-size: 25px;
}
.go
{
  font-size: 30px;
  background-color: rgb(88, 135, 207);
  color:#ffffff;
}